* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  min-width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.938);
}
.container {
  width: 80%;
  margin: 0 auto;
  color: #f0f0f0;
}
#logo img {
  width: 4rem;
  height: 4rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-link {
  margin: 0 1rem;
}
.nav-links a {
  text-decoration: none;
  color: white;
}
.nav-links a:hover {
  font-weight: 800;
  color: rgb(185, 95, 11);
}

#developer {
  margin: 5rem 0;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.developer-text {
  width: 40%;
}
.developer-text h1 {
  font-size: 5rem;
}
.developer-text p {
  font-size: 1.2rem;
  margin: 2rem 0;
}
.developer-text button {
  border: none;
  border-radius: 1rem;
  background: none;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  color: white;
  background: rgb(185, 95, 11);
}
.developer-text button a {
  text-decoration: none;
  color: #fff;
}
.developer-text button:hover {
  background: rgba(0, 0, 0, 0.938);
}
.img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.developer-img {
  width: 50%;
  z-index: -2;
  border-image-slice: 1;
  border-top: 2px solid;
  border-image-source: linear-gradient(to left, black, black);
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.developer-text h2 span {
  color: rgb(185, 95, 11);
  border-bottom: 3px solid #18d26e;
  padding-bottom: 6px;
}
.developer-text h2 span:hover {
  color: #fff;
  border-bottom: 2px solid rgb(185, 95, 11);
  padding-bottom: 6px;
}

#about {
  margin: 5rem 0;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-text {
  width: 50%;
  margin-right: 5rem;
  margin-left: 2%;
}
.about-text2 {
  width: 30%;
  margin-right: 5rem;
  margin-left: 2%;
}
.about-text2 h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.about-text2 p {
  line-height: 160%;
}
.about-text h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.about-text p {
  line-height: 160%;
}
.about-img {
  height: 90%;
  width: 60%;
}
#vid {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  margin: 5rem 0;
}
#vid h3 {
  font-size: 4rem;
}
span {
  color: rgb(185, 98, 11);
}
.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;
}
.card,
.card2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: gray;
  border-radius: 1rem;
  padding: 1.5rem;
  margin: 2rem;
  box-shadow: 1px 1px 1px -1px gray;
  color: rgba(0, 0, 0, 0.938);
  cursor: pointer;
  transition: transform 0.3s ease;
}
.card-text {
  font-size: 1.2rem;
}
.card-text a{
  color: white;
  text-decoration: none;
}
.card:hover,
.card2:hover {
  transform: scale(1.1);
}
.icon {
  font-size: 5rem;
  margin: 2rem;
}
.weather {
  background: url(https://foto.haberler.com/haber/2020/06/05/hava-durumu-5-haziran-meteoroloji-hava-durumu-13292567_8759_amp.jpg);
  background-size: cover;
  width: 10rem;
  height: 15rem;
  color: rgb(235, 231, 17);
}
.movies {
  background: url(https://www.naijatechguide.com/wp-content/uploads/2019/05/Top-best-Android-Apps-to-watch-and-stream-free-movies-online-600x400.jpg);
  background-size: 100% 100%;
  width: 10rem;
  height: 15rem;
  color: rgb(231, 235, 22);
}
.game {
  background: url(https://az779572.vo.msecnd.net/screens-400/bde4deffc31d471e86c761f6541e3ff2);
  background-position: 85% 30%;
  width: 10rem;
  height: 15rem;
  color: rgb(235, 220, 19);
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999;
  background: rgba(0, 0, 0, 0.938);
}
.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
#projekts {
  margin: 5rem 0;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 535px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  #developer {
    display: flex;
    flex-direction: column;
  }
  #about {
    display: flex;
    flex-direction: column;
  }
  #vid {
    display: flex;
    flex-direction: column;
  }
  #projekts {
    display: flex;
    flex-direction: column;
  }
}
