body{
    font-family: "Open sans", sans-serif;
    background-color: #040404;
    color: #fff;
    position: relative;
    background: transparent;
}
body::before{
   content: "";
   position: fixed;
   background: #040404 url(assets/IMG_1813.JPG) top right no-repeat;
   left: 0;
   transform: scaleX(-1);
   background-size: cover;
   right: 0;
   top: 0;
   height: 100vh;
   z-index: -1; 
}
@media (min-width:1024px){
    body::before{
       background-attachment: fixed;
    }
}
a {
    color: #18d26e;
}
a:hover{
    color: #35e888;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Railewa", sans-serif;
}
.container h1 a{
    text-decoration: none;
}
.container{
    margin-left: 5%;
}
#header{
    transition: ease-in-out 0.3s;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 997;
    overflow-y: auto;
}
#header * {
    transition: ease-in-out 0.3s;
}
#header h1{
    font-size: 48px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    font-family: "popins", sans-serif;
}
#header h1 a,
#header h1 a:hover{
    color: #fff;
    line-height: 1;
    display: inline-block;
}
#header h2{
    font-size: 54px;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.8);
}
#header h2 span{
    color: #fff;
    border-bottom: 2px solid #18d26e;
    padding-bottom: 6px;
}
#header h2 span:hover {
    color: #fff;
    border-bottom: 2px solid #ff28f4;
    padding-bottom: 6px;
}
.social-links{
    display: flex;
    justify-content: space-around;
}
#header .social-links a{
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-decoration: none;
}
#header .social-links a:hover{
    background: #18d26e;
}
@media (max-width:992px){
    #header h1 {
        font-size: 36px;
    }
    #header h2{
        font-size: 20px;
        line-height: 30px;
    }
    #header .social-links{
        margin-top: 15px;
    }
    #header .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.nav-menu{
    margin-top: -700px;
    margin-left: 170%;
}
.nav-menu ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-menu li + li{
    margin-left: 30px;
}
.nav-menu ul li a{
    display: block;
    position: relative;
    color: rgba(255, 255, 255, 0.7);
    font-size: 26px;
    font-family: "poppins", sans-serif;
    font-weight: 400;
    text-decoration: none;

}
.nav-menu a::before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #18d26e;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}
.nav-menu a:hover::before,
.nav-menu li:hover > a::before,
.nav-menu .active > a::before{
    visibility: visible;
    width: 45px;
}
.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
    color: #fff;
    text-decoration: none;
}
.mobile-nav-toggle{
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}
.mobile-nav-toggle i{
    color: #fff;
}
 